<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokerTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
		<!--<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>-->
    </configSections>
	<!--<NUnit>
		<TestRunner>
			<add key="MainVMTests" value="STA"/>
		</TestRunner>
	</NUnit>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PokerTable.Properties.Settings>
            <setting name="Player1Balance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Player1Name" serializeAs="String">
                <value>Ana1</value>
            </setting>
            <setting name="Player1StrategyProfile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player2Balance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Player2Name" serializeAs="String">
                <value>Milena</value>
            </setting>
            <setting name="Player2StrategyProfile" serializeAs="String">
                <value>Strategija2</value>
            </setting>
            <setting name="Player3Balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Player3StrategyProfile" serializeAs="String">
                <value>Regular1</value>
            </setting>
            <setting name="Player4Balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player4Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Player4StrategyProfile" serializeAs="String">
                <value>Regular1</value>
            </setting>
            <setting name="Player5Balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player5Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Player5StrategyProfile" serializeAs="String">
                <value>Regular1</value>
            </setting>
            <setting name="Player6Balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player6Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Player6StrategyProfile" serializeAs="String">
                <value>Regular1</value>
            </setting>
            <setting name="Player7Balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player7Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Player7StrategyProfile" serializeAs="String">
                <value>Regular1</value>
            </setting>
            <setting name="Player8Balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player8Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Player8StrategyProfile" serializeAs="String">
                <value>Regular1</value>
            </setting>
            <setting name="Player9Balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player9Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Player9StrategyProfile" serializeAs="String">
                <value>Regular1</value>
            </setting>
            <setting name="NumberOfPlayers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BigBlind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="thresholdRebuy" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GameChoosen" serializeAs="String">
                <value>NLH</value>
            </setting>
            <setting name="NumShowHandsChoosen" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Player1IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player2IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player3IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player4IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player5IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player6IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player7IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player8IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Player9IsBot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsGeneratedChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedEnumCasino" serializeAs="String">
                <value>PPPoker</value>
            </setting>
            <setting name="connString" serializeAs="String">
                <value>n</value>
            </setting>
        </PokerTable.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
